* {
	box-sizing: border-box;
}

html {
	height: 100%;

}

.bg {
	background-image: url("background.png");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.1;
	position: absolute;
	z-index: -1;
}

body {
	font-family: 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #7c5d6c80;
	height: 100%;
	margin: 0;
	z-index: -1;
}

span {
	padding-right: 15px;
	padding-left: 15px;
}

.topbar {
	background: white;
	padding: 0.5em 4em;
	box-shadow: #7f7f7f 0px 0px 5px 6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.avatar-top {
	height: 50px;
	border: #bfbfbf 4px solid;
	border-radius: 50%;
}
.option-top{
	height: 20px;
	float: right;
}

.title-section {
	width: 100%;
	position: absolute;
	top: 10vh;
}

.title {
	text-align: center;
	justify-content: center;
	align-items: center;
	top: 5vh;
	left: 25vw;
	color: white;
	background-color: #686caf;
	padding: 1em 4em;
	margin: auto;
	width: fit-content;
	border: white 1px solid;
	border-radius: 30px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
	z-index: 2;
}

.chat {
	margin-top: 20vh;
	height: 60vh;
	width: 60vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

::-webkit-input-placeholder {
	color: .711
}

input {
	border: 0;
	padding: 15px;
	margin-left: auto;
	border-radius: 10px;
	width: 30vw;
}

.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: white;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}

#bot {
	margin-left: auto;
}

.bot {
	font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,
		monospace;
}

.avatar {
	height: 25px;
}

.response {
	display: flex;
	align-items: center;
	margin: 1%;
}


/* Mobile */

@media only screen and (max-width: 980px) {
	.container {
		flex-direction: column;
		justify-content: flex-start;
	}

	.chat {
		width: 75vw;
		margin: 10vw;
	}
}